{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

        <div class="section">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class = "text-start">Symbol</th>
                        <th class = "text-end">Shares</th>
                        <th class = "text-end">Price</th>
                        <th class = "text-end">Transacted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in t_history %}
                    <tr>
                        <td class = "text-start">{{ stock.Symbol }}</td>
                        <td class = "text-end">{{ stock.Shares }}</td>
                        <td class = "text-end"> {{ stock.Price }} </td>
                        <td class = "text-end"> {{stock.Transacted}} </td>
                    </tr>
                    {% endfor %}
                    <!-- TODO: Loop through the database entries to display them in this table -->
                </tbody>
            </table>
        </div>

{% endblock %}