{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

        <div class="section">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class = "text-start">Symbol</th>
                        <th class = "text-start">Name</th>
                        <th class = "text-end">Shares</th>
                        <th class = "text-end">Price</th>
                        <th class = "text-end">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in portfolio %}
                    <tr>
                        <td class = "text-start">{{ stock.Symbol }}</td>
                        <td class = "text-start">{{ stock.name }}</td>
                        <td class = "text-end">{{ stock.Shares }}</td>
                        <td class = "text-end"> {{ stock.price }} </td>
                        <td class = "text-end"> {{stock.total}} </td>
                    </tr>
                    {% endfor %}
                    <!-- TODO: Loop through the database entries to display them in this table -->
                </tbody>
                <tfoot>
                    <tr>
                        <td class = "border-0 fw-bold text-end" colspan = "4"> Cash </td>
                        <td class = "text-end" colspan = "4"> {{ cash }} </td>
                    </tr>
                    <tr>
                        <td class = " border-0 fw-bold text-end" colspan = "4"> Total </td>
                        <td class = "text-end" colspan = "4"> {{ total }} </td>
                    </tr>
                </tfoot>
            </table>
        </div>

{% endblock %}